.baseView{
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #F1F1F1;
}
.cellTitleView {
	width: 100%;
	height: 60upx;
	background-color: #F3F3F3;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.cellTitle {
	/* width: 300upx; */
	margin-left: 20upx;
	color: #BBBBBB;
	font-size: 30upx;
}
.cellInfoView {
	width: 100%;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
}

.cellBaseView_Row {
	background-color: #FFFFFF;
	width: 100%;
	height: 120upx;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.selectedImg {
	margin-left: 20upx;
	width: 40upx;
	height: 40upx;
	flex-shrink: 0; /*等比例不压缩*/
}
.unSelectedImg {
	margin-left: 20upx;
	width: 40upx;
	height: 40upx;
	flex-shrink: 0; /*等比例不压缩*/
}
.cellLine {
	/* width: 100%; */
	height: 1upx;
	margin-left: 30upx;
	margin-right: 0upx;
	background-color: #DDDDDD;
}
.coverBottomView {
	width: 100%;
	height: 110upx;
	background: #3296FA;
	position: fixed;
	bottom: 0upx;
	overflow: hidden;
	text-align: center;
	line-height: 110upx;
	color: #FFFFFF;
	font-size: 32upx;
}

/*vue顶部Tab页css样式*/
.TopTabView {
	width: 100%;
	height: 110upx;
	background: #3296FA;
	position: fixed;
	top: 0upx;
	overflow: hidden;
	text-align: center;
	line-height: 110upx;
	color: #FFFFFF;
	font-size: 32upx;
}

/*添加照片的css样式*/
.cellImageBaseView {
  display:flex;
  flex-direction:column;
  width: 100%;
  background-color: white;
  /* margin-bottom: 10px; */
  border-bottom: 0.5rpx solid #E2E2E2;
  align-items:center;/*垂直居中*/
}
.cellImageTitleView {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	/* justify-content: center; */
}
.leftTextRow {
	width: 100%;
	margin-left: 30upx;
	font-size: 28upx;
	color: #333333;
}
.rightTextRow {
	margin-top: 20upx;
	margin-bottom: 20upx;
	margin-right: 50upx;
	text-align: right;
	font-size: 28upx;
	text-overflow: ellipsis;
	white-space: normal;
	color: inherit;
	line-height: 1.5;
	overflow: hidden;
	color: #BBBBBB;
}
.imageView {
  display:flex;
  flex-direction:row;
  width: 100%;
  /* height: 100px; */
  background-color: white;
  align-items: flex-start;/*垂直居中*/
  /* justify-content: space-between; */
  flex-wrap: wrap;
  margin-bottom: 10upx;
}

.littleImageView {
  display:flex;
  flex-direction:row;
  margin: 20px 5px 5px 20px;
}

.littleImageDelete {
  /* position: absolute; */
  position: relative;
  margin-left: -50upx;
  margin-top: -15upx;
  width: 60upx;
  height: 60upx;
}

.littleImage {
  width: 100%;
  height: 100%; 
}